@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";



body {
  background-color: #0B1B34; /* navy */
  color: white;
  font-family: 'Inter', sans-serif;
}